:root {
  --xPos: calc(-900%) ;
  --yPos: 250px;
  --ballPOS: -14em;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 18px;
  cursor: url('/assets/square2.png'), auto;
  overflow: hidden;
  min-height: 100vh;
  perspective: 10em;
  perspective-origin: 50% calc(50% - 3em);
  position: relative;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

div {transform-style: preserve-3d;}

.floor {
  background-image: linear-gradient(
    45deg, 
    #04619F 10%,
  #000000);
  position: absolute;
  transform: 
    rotateX(90deg);
  
  width: 8em;
  height: 12em;
  background-image: linear-gradient(
    45deg, 
    #04619F 10%,
  #000000);
  background-size:100% 10em 10em;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

/* Navbar */
.navbar {
  font-size: 14px;
  height: 150px;
  position: absolute;
  top: 0;
  color: white
}

.navbar .container {
  align-items: start;
  padding-top: 20px;
}

.navbar .grid {
  overflow: visible;
}

.navbar-bus-info {
  justify-self: start;
}

.navbar-logo {
  width: 30px;
  aspect-ratio: 1;
  border: 1px solid #333;
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-bus-desc {
  grid-column: 2 / 4;
  width: 80%;
  
  justify-self: center;
  text-indent: 4rem;
  text-align: justify;
}

.navbar-bus-client {
  justify-self: end;
}

/* Hero */
.main {
  position: absolute;
  text-transform: uppercase;
  color: white;
  height: 4em;
}

.main .container {
  width: 100%;
  height: 5.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  top: 1em;
  overflow: visible;
}

.main .container .letter{
  display: flex;
  justify-content: center;
  align-items: center;
  color: color;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  padding: 11px;
  background-color: #04619F;
  font-size: .2em;
  font-weight: 800;
  overflow: hidden;
  position: relative;
  top: var(--ballPOS);
  
  background-image: radial-gradient(circle at top, lightblue 10%, #000 80%);
  box-shadow: 0 0 0.5em #000a;
  transform-style: preserve-3d;
}

.main .container .letter:first-child{
  color: black;
  animation: roll 5s linear forwards;
}

.main .container .letter:nth-child(2){
  color: black;
  animation: roll2 5s linear forwards;
}

.main .container .letter:nth-child(3){
  color: black;
  animation: roll3 5s linear forwards;
}

.main .container .letter:nth-child(4){
  color: black;
  animation: roll4 5s linear forwards;
}

.main .container .letter:nth-child(5){
  color: black;
  animation: roll5 5s linear forwards;
}

.main .container .letter:nth-child(6){
  color: black;
  animation: roll6 5s linear forwards;
}

.main .container .letter:nth-child(7){
  color: black;
  animation: roll7 5s linear forwards;
}

.main .container .letter:nth-child(8){
  color: black;
  animation: roll8 5s linear forwards;
}

.main .container .letter:nth-child(9){
  color: black;
  animation: roll9 5s linear forwards;
}

.main .container .letter:nth-child(10){
  color: black;
  animation: roll10 5s linear forwards;
}

.main .container .letter:nth-child(11){
  color: black;
  animation: roll11 5s linear forwards;
}

.main .container .letter:nth-child(12){
  color: black;
  animation: roll12 5s linear forwards;
}

.main .container .letter:nth-child(13){
  color: black;
  animation: roll13 5s linear forwards;
}

@keyframes roll {
  0%   {transform: translate(0)}
  25%  {transform: translate3d(100px, calc(var(--yPos) - 200px), 0) scale(1.25)}
  50%  {transform: translate3d(50px, calc(var(--yPos) - 150px), 0) scale(1.5)}
  75%  {transform: translate3d(150px, calc(var(--yPos) - 100px), 0) scale(1.75)}
  100% {transform: translate3d(var(--xPos), var(--yPos), 0) scale(2)}
}

@keyframes roll2 {
  0% {transform: translate(0)}
  25%  {transform: translate3d(200px, calc(var(--yPos) - 200px), 0) scale(1.25)}
  50%  {transform: translate3d(50px, calc(var(--yPos) - 150px), 0) scale(1.5)}
  75%  {transform: translate3d(300px, calc(var(--yPos) - 100px), 0) scale(1.75)}
  100% {transform: translate3d(calc(var(--xPos) + 30px), 250px, 0) scale(2)
  }
}

@keyframes roll3 {
  0% {transform: translate(0)}
  25%  {transform: translate3d(50px, calc(var(--yPos) - 200px), 0) scale(1.25)}
  50%  {transform: translate3d(350px, calc(var(--yPos) - 150px), 0) scale(1.5)}
  75%  {transform: translate3d(150px, calc(var(--yPos) - 100px), 0) scale(1.75)}
  100% {transform: translate3d(calc(var(--xPos) + 60px), 250px, 0) scale(2)
  }
}

@keyframes roll4 {
  0% {transform: translate(0)}
  25%  {transform: translate3d(0px, calc(var(--yPos) - 200px), 0) scale(1.25)}
  50%  {transform: translate3d(50px, calc(var(--yPos) - 150px), 0) scale(1.5)}
  75%  {transform: translate3d(150px, calc(var(--yPos) - 100px), 0) scale(1.75)}
  100% {transform: translate3d(calc(var(--xPos) + 90px), 250px, 0) scale(2)
  }
}


@keyframes roll5 {
  0%   {transform: translate(0)}
  25%  {transform: translate3d(200px, calc(var(--yPos) - 200px), 0) scale(1.25)}
  50%  {transform: translate3d(50px, calc(var(--yPos) - 150px), 0) scale(1.5)}
  75%  {transform: translate3d(400px, calc(var(--yPos) - 100px), 0) scale(1.75)}
  100% {transform: translate3d(calc(var(--xPos)+ 120px), 250px, 0) scale(2)
  }
}

@keyframes roll6 {
  0% {transform: translate(0)}
  25%  {transform: translate3d(-100px, calc(var(--yPos) - 200px), 0) scale(1.25)}
  50%  {transform: translate3d(50px, calc(var(--yPos) - 150px), 0) scale(1.5)}
  75%  {transform: translate3d(-150px, calc(var(--yPos) - 100px), 0) scale(1.75)}
  100% {transform: translate3d(calc(var(--xPos)+ 150px), 250px, 0) scale(2)
  }
}

@keyframes roll7 {
  0% {transform: translate(0)}
  25%  {transform: translate3d(-150px, calc(var(--yPos) - 200px), 0) scale(1.25)}
  50%  {transform: translate3d(-50px, calc(var(--yPos) - 150px), 0) scale(1.5)}
  75%  {transform: translate3d(250px, calc(var(--yPos) - 100px), 0) scale(1.75)}
  100% {transform: translate3d(calc(var(--xPos)+ 210px), 250px, 0) scale(2)
  }
}


@keyframes roll8 {
  0% {transform: translate(0)}
  25%  {transform: translate3d(-200px, calc(var(--yPos) - 200px), 0) scale(1.25)}
  50%  {transform: translate3d(50px, calc(var(--yPos) - 150px), 0) scale(1.5)}
  75%  {transform: translate3d(-150px, calc(var(--yPos) - 100px), 0) scale(1.75)}
  100% {transform: translate3d(calc(var(--xPos)+ 240px), 250px, 0) scale(2)
  }
}

@keyframes roll9 {
  0% {transform: translate(0)}
  25%  {transform: translate3d(-100px, calc(var(--yPos) - 200px), 0) scale(1.25)}
  50%  {transform: translate3d(100px, calc(var(--yPos) - 150px), 0) scale(1.5)}
  75%  {transform: translate3d(-250px, calc(var(--yPos) - 100px), 0) scale(1.75)}
  100% {transform: translate3d(calc(var(--xPos)+ 270px), 250px, 0) scale(2)
  }
}

@keyframes roll10 {
  0% {transform: translate(0)}
  25%  {transform: translate3d(-250px, calc(var(--yPos) - 200px), 0) scale(1.25)}
  50%  {transform: translate3d(50px, calc(var(--yPos) - 150px), 0) scale(1.5)}
  75%  {transform: translate3d(-150px, calc(var(--yPos) - 100px), 0) scale(1.75)}
  100% {transform: translate3d(calc(var(--xPos)+ 300px), 250px, 0) scale(2)
  }
}


@keyframes roll11 {
  0% {transform: translate(0)}
  25%  {transform: translate3d(-200px, calc(var(--yPos) - 200px), 0) scale(1.25)}
  50%  {transform: translate3d(-200px, calc(var(--yPos) - 150px), 0) scale(1.5)}
  75%  {transform: translate3d(-200px, calc(var(--yPos) - 100px), 0) scale(1.75)}
  100% {transform: translate3d(calc(var(--xPos)+ 330px), 250px, 0) scale(2)
  }
}

@keyframes roll12 {
  0% {transform: translate(0)}
  25%  {transform: translate3d(-170px, calc(var(--yPos) - 200px), 0) scale(1.25)}
  50%  {transform: translate3d(-150px, calc(var(--yPos) - 150px), 0) scale(1.5)}
  75%  {transform: translate3d(150px, calc(var(--yPos) - 100px), 0) scale(1.75)}
  100% {transform: translate3d(calc(var(--xPos)+ 360px), 250px, 0) scale(2)
  }
}

@keyframes roll13 {
  0% {transform: translate(0)}
  25%  {transform: translate3d(-220px, calc(var(--yPos) - 200px), 0) scale(1.25)}
  50%  {transform: translate3d(-190px, calc(var(--yPos) - 150px), 0) scale(1.5)}
  75%  {transform: translate3d(50px, calc(var(--yPos) - 100px), 0) scale(1.75)}
  100% {transform: translate3d(calc(var(--xPos)+ 390px), 250px, 0) scale(2)
  }
}

.main .container .letter::before {
  content:'';
  position:absolute;
  top: 0em;
  left: 0em;
  height: 100%;
  width: 100%;
  /* background:transparent; */
  background-image: url("https://www.transparenttextures.com/patterns/starring.png");
  border-radius: 50%;
  background-size:cover;
  /* transition: 3s; */
  animation: bg 5s linear forwards;
}

@keyframes bg {

    0%{background-position:  50px 0px;}
    10%{background-position: 120px -150px;}
    20%{background-position: 170px -300px;}
    30%{background-position: 220px -450px;}
    40%{background-position: 270px -600px;}
    50%{background-position: 320px -750px;}
    60%{background-position: 370px -800px;}
    70%{background-position: 420px -950px;}
    80%{background-position: 470px -1000px;}
    90%{background-position: 520px -1050px;}
    100%{background-position: 570px 0px;}
  }

  .main .container .letter div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    animation: letter 5s linear alternate;
    overflow: hidden;
  }

  @keyframes letter {
    0%  { top: 50px; left: 0;}
    10% { top: 120px; left: -150px;}
    20% { top: 170px; left: -300px;}
    30% { top: 220px; left: -450px;}
    40% { top: 270px; left: -600px;}
    50% { top: 320px; left: -750px;}
    60% { top: 370px; left: -800px;}
    70% { top: 420px; left: -950px;}
    80% { top: 470px; left: -1000px;}
    90% { top: 520px; left: -1050px;}
    100%{ top: 50%; left: 50%;}
  }



/* Footer */
footer {
  position: absolute;
  bottom: 0;
  color: white;
  font-size: 14px;
}

footer .grid {
  grid-template-columns: 1fr 4fr;
}

.spin-labs {
  justify-self: flex-start;
  cursor: pointer;
}

.spin-labs-circle {
  width: 20px;
  aspect-ratio: 1 / 1;
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #333;
  position: relative;
}

.spin-labs-line {
  width: 50%;
  height: 1px;
  background-color: #FFF;
  
  position: absolute;
  top: 50%;
  right: 10%;
  /* transform: rotate(-45deg); */
  animation: clockwise 10s linear infinite;
}

@keyframes clockwise {
  100% {
    transform-origin: top left;
    transform: rotate(360deg);
  }
}

.product-list ul {
  list-style-type: '\2014';
  flex-wrap: wrap;
}

.product-list ul li {
  width: fit-content;
  padding-left: 4px;
  margin: 0 10px;
}

.product-list ul li:first-child {
  list-style-type: none;
}

/* Utilities */

.container {
  
  margin: 0 auto;
  padding: 0 40px;
  overflow: auto;

}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#cursor-trail {
  width: 100px;
  aspect-ratio: 1/1;
  background: rgba(160, 236, 209, .5);
  position:absolute;
  border-radius: 180px;
  filter: blur(50px);
  transition: .5s;
}

@media(max-width: 768px){
  .navbar .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .navbar-bus-desc {
    grid-column: 1 / span 2;
    grid-row: 2;
  }
}

@media(max-width: 500px){
  .navbar-bus-desc {
    margin-top: 32px;
  }

  .hero .container {
    height: 300px;
  }

  .title-name {
    font-size: 1rem;
  }

  /* footer */

  footer .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
  }

  footer .container {
    justify-content: center;
  }

  .spin-labs {
    justify-self: center;
  }

  .product-list ul{
    /* font-size: .5rem; */
    /* line-height: 14px; */
  }
}


/* margin */
.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 3rem 0;
}

.my-5 {
  margin: 4rem 0;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 3rem;
}

.m-5 {
  margin: 4rem;
}

/* padding */
.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 1.5rem 0;
}

.py-3 {
  padding: 2rem 0;
}

.py-4 {
  padding: 3rem 0;
}

.py-5 {
  padding: 4rem 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 2rem;
}

.p-4 {
  padding: 3rem;
}

.p-5 {
  padding: 4rem;
}

/* Text sizes */
.lead {
  font-size: 20px;
}

.sm {
  font-size: 1rem;
}

.md {
  font-size: 2rem;
}

.lg {
  font-size: 3rem;
}

.xl {
  font-size: 4rem;
}

.text-center {
  text-align: center;
}